# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\studyTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
